---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <img class="footer-logo" src="/images/logo.png" alt="Yimei Environment Protection" />
        <p class="footer-company">Yimei Environment Protection Technology Sdn. Bhd.</p>
        <img class="footer-qr" src="/qrcode.png" alt="Scan to connect with Yimei" width="132" height="132" loading="lazy" decoding="async" />
      </div>
      <div class="footer-col">
        <h4>Explore</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-col footer-contact">
        <h4>Contact</h4>
        <address class="footer-addr">
          Lot 17 &amp; 18 Block C, 1st Floor,<br />
          Yun Fook Light Industrial Complex,<br />
          &frac12; Miles, Keningau-Nabawan Road,<br />
          Keningau. P.O. Box 1733, 89008 Keningau, Sabah.<br /><br />
          (Mr Yap)<br />
          <a href="mailto:sync.dyna@gmail.com">sync.dyna@gmail.com</a><br />
          <a href="tel:+60186655655">+60 18-665 5655</a>
        </address>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {year} Yimei Environment Protection. All rights reserved.</p>
    </div>
  </div>
</footer>
